<div class="busca-header">
  <input matInput ng-model="servico">
  <button mat-icon-button color="primary">
    <mat-icon class="search"></mat-icon></button> 
</div>

<div class="busca-content">
  <table ngFor="item in neighbors">
    <tr>
      <th class="text-center">Nome</th>
      <th class="text-center">Contato</th>
      <th class="text-center">Status</th>
    </tr>
    <tr>
      <th class="text-center">item.nome</th>
      <th class="text-center">item.contato</th>
      <th class="text-center">item.status</th>
    </tr>
  </table> 
</div>
